.el-switch__label{
  color: #d8b791;
  font-size: 12px;
}
.el-switch__label.is-active{
  color: black;
}
.time .el-checkbox-button__inner, .period .el-radio-button__inner{
  background-color: rgba(59,59,59,0.5);
  margin-right: 6px;
  margin-bottom: 6px;
  width: 62px;
  border: solid 1px #727272;
  border-radius: 5px !important;
}
.period .el-radio-button__inner{
  width: 55px;
}
.time .el-checkbox-button__inner:hover, .period .el-radio-button__inner:hover{
  color: white;
}
.time .el-checkbox-button.is-checked .el-checkbox-button__inner, .period .el-radio-button__orig-radio:checked+.el-radio-button__inner {
  border-color: #c49c6e;
  background-color: rgba(59,59,59,0.5);
  box-shadow: 0 0 0 0 #c49c6e;

}

.time .el-checkbox-button.is-focus .el-checkbox-button__inner{

}
.time .el-checkbox-button:first-child .el-checkbox-button__inner, .period .el-radio-button:first-child .el-radio-button__inner{
  border-left: 1px solid #727272;

}
.right .el-radio-button__inner{
  width: 96px;
  background-color: #aa8357;
  border-color: #c49c6e;
  border-radius: 0 !important;
  font-size: 18px;
  color: #714f2a;
}
.right .el-radio-button__orig-radio:checked+.el-radio-button__inner {
  color: white;
  background-color: #c49c6e;
  border-color: #c49c6e;
  box-shadow: 0 0 0 0 #c49c6e;
}
.right .el-radio-button__inner:hover{
  color: white;
}
.right .el-radio-button:first-child .el-radio-button__inner{
  border-left: none;

}

.time .el-input__inner, .period .el-input__inner{
  background: none;
  border: none;
  border-bottom: solid 1px #c49c6e;
  color: #c49c6e;
  border-radius: 0;
}

.el-time-panel{
  width: 360px;
  background-color: rgb(59,59,59);
  border-color: #464646;
}
.el-time-spinner__item.active:not(.disabled){
  color: #c49c6e;

}
.el-time-spinner__item:hover:not(.disabled):not(.active){
  background-color: rgb(59,59,59);

}

.el-popper[x-placement^=bottom] .popper__arrow::after{
  border-bottom-color: rgb(59,59,59);
}

.el-popper[x-placement^=bottom] .popper__arrow{
  border-bottom-color: #464646;
}
.el-time-panel__footer{
  display: none;
}
.time .el-input__prefix{
  background-image: url("../time.png");
  width: 16px;
  height: 16px;
  margin-left: -20px;
  margin-top: 12px;
  left: 360px;
}
.time .el-input__icon:after{
  content: '';
}

.time .el-input__prefix, .el-input__suffix{
  color: rgba(59,59,59, 0);
}

.period .el-input__prefix{
  display: none;
}

.el-input__inner::-webkit-input-placeholder{
  color: #737373;
}
.el-input__inner::-moz-placeholder{   /* Mozilla Firefox 19+ */
  color: #737373;
}
.el-input__inner:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
  color: #737373;
}
.el-input__inner:-ms-input-placeholder{  /* Internet Explorer 10-11 */
  color: #737373;
}

.time .el-checkbox-button.is-checked .el-checkbox-button__inner:after, .period .el-radio-button__orig-radio:checked+.el-radio-button__inner:after{
  content: url("../arraw.png");
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}

.period .el-radio-button__inner, .time .el-checkbox-button__inner{
  padding: 12px 10px;
}

.el-popper[x-placement^=bottom]{
  background-color: rgb(59,59,59);
  border-color: #737373;
}
.time-select-item:hover{
  background-color: rgb(59,59,59);
  color: #c49c6e;
}
.time-select-item.selected:not(.disabled){
  color: #c49c6e;
}
.el-popper[x-placement^=bottom] .popper__arrow{
  border-bottom-color: #737373;

}
.period .el-radio__input.is-checked .el-radio__inner {
  border-color: #c49c6e;
  background: #c49c6e;
}

.period .el-radio__input.is-checked+.el-radio__label {
  color: #c49c6e;
}
.time .el-checkbox-button.is-focus .el-checkbox-button__inner{
  border-color: #c49c6e;
}
